<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--在虚拟机环境或多网卡场景下可能需要添加host="${dubbo.host}"属性-->
    <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" threads="${dubbo.protocol.threads}" accesslog="true"/>
    <dubbo:monitor protocol="registry"/>

    <!--
    <dubbo:service interface="" ref="" group="" retries="" version="" protocol="dubbo"/>
     -->
    <dubbo:service interface="com.com.client.ComService"
                   ref="comServiceImpl" group="global" retries="1" version="1.0" protocol="dubbo" cluster="broadcast"/>


</beans>