<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <display-name>customer-service-center</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:applicationContext.xml
        </param-value>
    </context-param>

    <!-- Web App Dispatcher -->
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:applicationContext-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!--Spring ApplicationContext 载入 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
<!--
    <filter>
            <filter-name>EagleEyeFilter</filter-name>
            <filter-class>com.MyCatFilter</filter-class>
    </filter>

     <filter-mapping>
        <filter-name>EagleEyeFilter</filter-name>
       <url-pattern>/*</url-pattern>
    </filter-mapping>-->

    <!--<filter>
        <filter-name>EagleEyeFilter</filter-name>
        <filter-class>com.dianping.cat.servlet.DubboCatFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EagleEyeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

    <!-- Log4j配置 -->

   <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>

<!--
    &lt;!&ndash; 加载log4j配置文件 &ndash;&gt;
-->

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>/index</welcome-file>
    </welcome-file-list>

    <error-page id="error"><location>/error</location></error-page>
</web-app>
